{% extends 'best/base.html' %}

{% block main_area %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="main-area">
            {% if best_list.exists %}
            {% for b in best_list %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    {% if b.head_image %}
                    <img class="card-img-top" src="{{ b.head_image.url }}" alt="..." />
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ b.title }}</h5>
                            <hr>
                            <!-- Product price-->
                            {{ b.content | truncatewords:5 }}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="{{ b.get_absolute_url }}">View</a>
                        </div>
                        <div class="text-center mt-2">{{ b.created_at | date:'y-m-d H:i' }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3>Not Post.</h3>
            {% endif %}

        </div>
    </div>
</section>
{% endblock %}